@charset "UTF-8";

body{
    background: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}h1{
    text-align: center;
    background: black;
    color: aliceblue;
}h2{
    text-align: center;
    color: blue;
}h3{
    color: burlywood;
}p{
    color: whitesmoke;
}a{
    color: rgba(255, 255, 255, 0.575);
    text-decoration:none;
}